<div class="row ">
    <div class="col-md-5 offset-md-4">
        <div class="card text-center">
            <div class="card-header h-100 bg-dark aling-items-center">
                Registrar datos del libro
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="url" name="image" [(ngModel)]="book.img" placeholder="Copia el enlace de la imagen..." class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="title" [(ngModel)]="book.title" placeholder="Titulo del Libro..." class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="number" name="año" [(ngModel)]="book.year_creation" placeholder="Año Creación..." class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="genero" [(ngModel)]="book.gender" placeholder="Generos Literarios..." class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="number" name="Paginas" [(ngModel)]="book.number_pages" placeholder="Número de páginas..." class="form-control" autofocus>
                    </div>
                </form>
            </div>

            <div class="card-header h-100 bg-dark aling-items-center">
                Registrar datos del autor
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="autor" [(ngModel)]="book.name_author" placeholder="Nombre autor..." class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="date" name="fecha_nacimiento" [(ngModel)]="book.birth_date" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="Ciudad_nacimiento" [(ngModel)]="book.city_birth" placeholder="Ciudad Procedencia..." class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email_personal" [(ngModel)]="book.personal_email" placeholder="Correo electronico..." class="form-control" autofocus>
                    </div>
                </form>
            </div>

            <div class="card-header h-100 bg-dark aling-items-center">
                Registrar datos de la editorial
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="editorial" [(ngModel)]="book.name_editorial" placeholder="Nombre de la editorial..." class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="email_editorial" [(ngModel)]="book.editorial_email" placeholder="Correo Electronico..." class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="direccion_editorial" [(ngModel)]="book.editorial_adress" placeholder="lugar correspondencia..." class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="number" name="telefono" [(ngModel)]="book.editorial_phone" placeholder="telefono..." class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="number" name="max_registro" [(ngModel)]="book.max_books_registered" placeholder="Maximo registro de libros..." class="form-control" autofocus>
                    </div>
                </form>
                <button class="btn btn-success btn-block" (click)="edit ? updateBook() : saveNewBook()">
                    GUARDAR REGISTRO
                </button>
            </div>
        </div>
    </div>
</div>